/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #ece8e5;
}


nav {
	height: 40px;
	width: 102%;
	background-color: #455868;
	font-size: 11pt;
	font-family: sans-serif;
	font-weight: bold;
	position: fixed;
	border-bottom: 2px solid rgba(25,27,28,0.5);
	top: 0px;
	left: -8px;
	margin-bottom: 50px;
	display: inline-block;

}

nav ul {
	padding: 0;
	margin: 0 auto;
	height: 40px;
}

nav li {
	display: inline;
	float: left;
	padding-left: 20px;
	padding-right: -50px;

}


nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}

#title{
	width: 80px;
}

#edit {
	position: fixed;
	left: 300px;
}

nav a:hover {
	color: #e8f6f7;
	display: inline-block;
	width: 100px;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}



nav a#pull {
    display: none;
}

form {

	margin-top: 60px;
	position: absolute;
	font-family: sans-serif;
	left: 350px;

}

form ul {
	width: 750px;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

form li {

	padding: 12px;
	border-bottom: 1px solid #acacac;
	position: relative;
}

form h2 {
	margin: 0;
	display: inline;
	font-size: 50px;
}

form label {
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	float: left;
}

form input{
	height: 30px;
	width: 220px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: -20px;

}

#button {
	margin-left: 156px;
	padding-top: 15px;
	padding-bottom: 15px;

}




*:focus {outline: none;}


#image-container {
	height: auto;
	margin-top: 50px;
	font: 10pt sans-serif;
	text-align: center;
}

#image-container .box {
	border:5px solid #fff;
	cursor: pointer;
	height: 182px;
	float: left;
	margin: 5px;
	position:relative;
	overflow: hidden;
	width: 200px;
	 -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding-left: 10px;
}


#image-container .box .image {
	position: absolute;
	left: -150px;
	top: -100px;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.pic-info {
	background-color: rgba(0,0,0,0.66);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 35px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;

}

#image-container .box .pic-info:hover {
	opacity: 1;
}

#side-info {
	width: 400px;
	float:right;
	clear: left;
	font-family: sans-serif;
	position:absolute;
	left: 1000px;
}

#side-info .side-title {
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(77,77,77,0.51);
	left: -20px;
}

#side-info .side-name {

}

#indiv-image{
	margin-top: 50px;
	position: static;
	overflow: hidden;
	height: 640px;
	width: 960px;

}












